*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;

}

.box{
	background-color: gray;
	width: 100%;
	overflow: none;
	border: 2px solid black;


}

.head{
	text-align: center;
	border: 2px solid black;
	overflow: none;
	width: 100px;
	height: 40px;
	font-size: 25px;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 5px;

}

.content{
	padding-top: 55px;
}

.head1{
	background-color: pink;
}

.head2{
	background-color: lightblue;
}

.head3{
	background-color: green;
}

@media(min-width:992px){
	.col-lg-4{
		width: 33.3%;
		float: left;
		padding: 20px;
	}
}

@media(min-width:768px) and (max-width: 991px){
	.col-md-6{
		width: 50%;
		float: left;
		padding: 20px;
	}
	.col-md-12{
		width: 100%;
		float: left;
		padding: 20px;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		width: 100%;
		float: left;
		padding: 20px;
	}
}